.vagrant
vagrant/d20*
vagrant/vagrant*
.idea
*.iml
target
*/dependency-reduced-pom.xml
mongodb/downloads
download
eksempler/ForsendelseClientSample/bin
eksempler/ForsendelseClientSample/obj
svarut-itests-dot-net/bin
svarut-itests-dot-net/obj
/.project
.settings
.checkstyle
vagrant/vms
dokumentasjon/~$*
edialog/node_modules
edialog/src/main/webapp/bower_components
edialog/.sass-cache
svarut-itests/build
