<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <logger name="org.testcontainers" level="WARN" />
    <logger name="com.github.dockerjava" level="INFO" />
    <logger name="org.springframework.data.mongodb" level="WARN" />


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>